<div class="page-header">
  <h3>
    <a ng-show="posts.post.link" href="{{posts.post.link}}">
      {{post.title}}
    </a>
    <span ng-hide="posts.post.link">
      {{posts.post.title}}
    </span>
  </h3>
</div>

<div ng-repeat="comment in posts.post.comments | orderBy:'-upvotes'">
  <span id={{$index}} class="glyphicon glyphicon-thumbs-up"
    ng-click="posts.incrementUpvotes(comment)"></span>
  {{comment.upvotes}} - by {{comment.author}}
  <span style="font-size:20px; margin-left:10px;">
    {{comment.body}}
  </span>
</div>

<form ng-submit='posts.addComment()'>
  <h3>Add a new Comment</h3>

  <div class='form-group'>
    <input type='text' class='form-control' placeholder='Comment'
    ng-model='posts.body'>
  </div>
  <button id='commentSubmit' type="submit" class='btn btn-primary'>Post</button>
</form>
