<html>
  <head>
    <title>Flapper News</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    <script src="angular/angular.js"></script>
    <script
      src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/controllers/mainController.js"></script>
    <script src="/javascripts/controllers/postsController.js"></script>
    <script src="/javascripts/factories/mainFactory.js"></script>
  </head>
  <body ng-app="flappernews">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>
